*~
*#
*.o

forftanks/round-*.html
forftanks/next-round
forftanks/points
forftanks/forftanks

forftanks/designer.cgi

forftanks/forf.html
forftanks/summary.html
forftanks/designer.html
forftanks/intro.html
forftanks/procs.html
forftanks/tanks/*

forftanks/debugger.html
forftanks/upload.cgi

.vagrant

silex/vendor/
silex/assets/vendor/
